.footer {
    padding: 60px 0px 70px;

    /// footer__wrapper 
    
    &__wrapper {
        display: flex;
    }

    /// footer-navigation
    
    &-navigation {

        flex-grow: 1;
        padding-left: 152px;

        /// footer-navigation__title
        
        &__title {
            margin: 0px 0px 15px;
        }

        /// footer-navigation__links
        
        &__links {
            @extend %font-popins;
            list-style: none;
            padding: 0px;
            @include font(1.6rem, 3.5rem, 400);

            a {
                color: $color-text;
                @extend %transition;
                text-decoration: none;

                &:hover {
                    color: $color-primary;
                }

            }

        }

    }

}