.layout-4-column {
    @include columns(21%);

    @include media-tablet {
        @include columns(48%);
    }

    @include media-mobile {
        @include columns(100%);
    }
}

.layout-3-column {
    @include columns(30%);

    @include media-tablet {
        @include columns(48%);
    }

    @include media-mobile {
        @include columns(100%);
    }

    &:after {
        content: '';
        width: 30%;
        display: block;
    }
}

.layout-2-column {
    @include columns(48%);

    // @include media-tablet {
    //     @include columns(100%);
    // }
}